.outline{
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: fit-content;
    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
}
.productName{
    font-size: 24px;
}
.productImage{
    justify-self: center;
    align-self: center;
    width: 14vw;
    height: 14vw;
    min-width: 100px;
    min-height: 100px;
    max-height: 170px;
    max-width: 170px;

}
.productNameDiv{
    display: flex;
    justify-content: center;
}
.productPrice{
    font-size: 17px;
}

@media (max-width: 800px){
.productName{
    font-size: 17px;
}
}