.Image{
    width: 100%;
}
.bestS{
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.line{
    height: 1px;
    background-color: black;
    width: 40vw ;
}
.BestsellerText{
font-size:20px;
}
.bestsellers{
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; 
}
.bestsellers::-webkit-scrollbar{
    display: none;
}
.scrollLeft{
    align-self: center;
 position: absolute;
}
.scrollRight{
    align-self: center;
   right: 0px;
  position: absolute ;
}

@media (max-width:650px){
    .scrollLeft{
        display: none;
    }.scrollRight{
        display: none;
    }
    .BestsellerText{
        font-size: 14px;
    }
    
}

@media (max-width:800px){
    .BestsellerText{
        font-size: 17px;
    }
}

